body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 600px;
  color: var(--cor-0);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0px;
}

h1,
 ul,
p,
h2,
 h3,
 h4,
 blockquote {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
 
}

.detalhe-ponto {
  color: var(--cor-p1);
}

img[src$=".jpg"] {
  border-radius: 4px;
}